$cssCore : false;
$cssHelpers: false;
$devMode : false;
$max-width : 1260px;
$bp-menu: l;

@import "ed-grid/ed-grid";

$breakpoints : (
        s  : 0,
        m  : 640px,
        l  : 1024px,
        xl : 1440px,
        xxl : 1800px
);

@import "components/colors";
@import "components/general/fonts";


// Fuentes
@import url('https://fonts.googleapis.com/css?family=Sumana');
@import "components/webfonts";
$font-family-body: 'Sumana', serif;
$font-family-title: 'proxima_nova_rgbold', sans-serif;
$font-family-subtitle: 'proxima_nova_rgbold', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
@import "components/typographies-styles";
@import "components/general";
@import "components/mixins";

//Imports Components
@import "components/general/header";
@import "components/home/hero";
@import "components/home/categories";
@import "components/home/articles-feed";
@import "components/general/article-feed";
@import "components/general/pagination";
@import "components/general/subscription";
@import "components/general/footer";
@import "components/general/social";

@import "components/post/post";
@import "components/post/single";
@import "components/general/sidebar";