@keyframes flipInX {
    from,0% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    40% {
        transform: rotateX(-10deg);
        opacity: 1;
    }

    70% {
        transform: rotateX(10deg);
        opacity: 1;
    }

    100% {
        transform: rotateX(0deg);
        opacity:1;
    }
}

@keyframes menu {
    from, 0% {
        opacity: 0;
        transform: translateY(-24px)
    }
    30% {
        opacity: 0.5;
    }
    70% {
        opacity: 1;
        transform: translateY(-14px)
    }
    100% {
        opacity: 1;
        transform: translateY(-14px)
    }
}

@keyframes item-build {
    from, 0% {
        opacity: 0;
        transform: translate(-5px, -10px);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes scroll-background-x {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: 100% center;
    }
}