// Quitar outline
*:focus {
    outline: none;
}

// Ajustes Generales
body, html {
    background: $background;
    color: $black;
    font-family: $font-family-body;
    font-size: 16px;
}
body {
    //visibility: hidden;
    overflow-x: hidden;
    &.menu-open {
        overflow: hidden;
    }
}
.row {
    @include edContainer;

    &.center {
        justify-content: center;
    }

    &-width {
        display: flex;
        position: relative;
    }
}
ul {
    margin: 0;
    padding: 0 0 0 12px;
    li {
        font-size: 1em;
        margin-bottom: 0.8rem;
        position: relative;
    }
}
.intl-tel-input {
    margin-bottom: 1rem;
    width: 100%;

    @include to(m) {
        .iti-mobile & {
            &.iti-container {
                bottom: 10px !important;
                left: 10px !important;
                right: 10px !important;
                top: 10px !important;
            }
        }
    }

    ul {
        width: 100%;
        li {
            &::before {
                display: none;
            }
        }
    }

    .flag-container {
        width :100%;
    }
}
.wow {
    visibility: hidden;
}