@mixin cta($color, $background) {
    border: 2px solid $color;
    background: $background;
    padding: 1px 20px;
    color: $color;
    cursor: pointer;
    font-family: $font-family-subtitle;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease all;
    &:hover {
        background: rgba($gray,0.4);
    }
}

@mixin modifier($name) {
    @at-root {
        // '&' is a double-wrapped list
        $selector: nth(&, 1);
        // direct parent will be the last item in that list
        $direct-parent: nth($selector, length($selector));
        // modifier should have all properties of parent
        #{$direct-parent}--#{$name} { @extend #{$direct-parent}; }
        // '@content' will be in a nested selector however, if that is the context
        #{&}--#{$name} { @content; }
    }
}

// a BEM element() mixin--as has been seen elsewhere
@mixin element($name) {
    @at-root {
        #{&}__#{$name} {
            @content;
        }
    }
}