.subtitle {
    font-family: $font-family-subtitle;
    font-size: 1.1rem;
    font-weight: $font-bold;
    line-height: 1.3;
    margin: 0 0 25px 0;
    @include fromTo(0px,m) {
        font-size: 1rem;
    }
}
.title {
    font-family: $font-family-title;
    font-size: 4rem;
    font-weight: $font-light;
    line-height: 1;
    margin: 0 0 25px 0;
    @include fromTo(0px,m) {
        font-size: 3rem;
    }
}