.post {
    line-height: 1;
    padding: 0 !important;
    &__featured-image {
        @include edItem(100);
        margin-bottom: 1rem;
    }

    &__date {
        box-shadow: 0 2px #C2C2C2, 0 2px #C2C2C2 inset;
        padding: 1.5rem 0;
        p {
            color: $black;
            line-height: 1;
            margin: 0;
        }
    }

    &__title {
        @include edItem(100);
        h1 {
            color: $red;
            font-family: $font-family-title;
            font-size: 45px;
            line-height: 1;
            margin: 0 0 0.8rem 0;
            text-transform: uppercase;
        }
    }

    &__author {
        @include edItem(100);
        h5 {
            color: $black;
            font-family: $font-family-title;
            font-size: 1.2rem;
            margin: 0;
            text-transform: uppercase;
        }
    }

    &__content {
        @include edItem(100);
        padding-top: 2.5rem;
        img {
            margin-bottom: 1.5rem;
        }
        h2 {
            border-bottom: 3px solid $red;
            color: $red;
            display: inline-block;
            font-family: $font-family-title;
            font-size: 1.5rem;
            padding-bottom: 2px;
            text-transform: uppercase;
        }

        h3 {
            color: $black;
            font-family: $font-family-title;
            font-size: 1.2rem;
            text-transform: uppercase;
        }

        h4,h5,h6 {
            color: $fullblack;
            font-family: $font-family-body;
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.1;
            margin: 0 0 1rem 0;
        }

        p {
            color: $fullblack;
            font-size: 1rem;
            line-height: 1.2;
            margin: 0 0 1.5rem 0;
        }

        ol, ul {
            color: $fullblack;
            font-size: 1rem;
            padding-left: 1rem;
            li {
                line-height: 1.3;
                list-style: none;
                margin-bottom: 1rem;
                padding-left: 5px;
                position: relative;
            }
        }
        ol {
            counter-reset: olcounter;
            li {
                &:before {
                    color: $red;
                    content: counter(olcounter)". ";
                    counter-increment: olcounter;
                    display: inline-block;
                    font-family: $font-family-title;
                    font-size: 1.1rem;
                    left: -16px;
                    position: absolute;
                }
            }
        }

        ul {
            li {
                &:before {
                    background: $red;
                    border-radius: 50%;
                    content: "";
                    height: 8px;
                    left: -12px;
                    position: absolute;
                    top: 7px;
                    width: 8px;
                }
            }
        }

        &__gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            img {
                width: 100%;
                height: 100%;

                @include from(m) {
                    width: 50%;
                    &:nth-child(odd) {
                        padding-right: 0.5rem;
                    }
                    &:nth-child(even) {
                        padding-left: 0.5rem;
                    }
                }
            }
        }
    }

    &__comments {
        @include edItem(100);
        padding-top: 1rem;
    }
}