.single {
    padding: 3rem 0;
    .post {
        @include edItem(100,70,74);

        .video-player {
            position: relative;
            .video-preview {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
            .video-play-button {
                align-items: center;
                bottom: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                img {
                    height: 100px;
                    width: 100px;
                }
            }
            .video-container {
                height: 100%;
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
            @include to(m) {
                height: 200px;
                width: 100%;
            }
            @include fromTo(m,l) {
                height: 300px;
                margin: 0 auto 1rem;
                width: 100%;
            }
            @include from(l) {
                display: block;
                height: 281px;
                margin: 0 auto 1rem;
                width: 500px;
            }
        }
        .pinterest {
            cursor: pointer;
            position: relative;
            &:before {
                background-image: url("../img/pin_icon_64x64.png");
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                height: 32px;
                left: 10px;
                position: absolute;
                top: 10px;
                width: 32px;
            }
            &.aligncenter {
                display: block;
                margin: 0 auto;
            }
            &.alignleft {
                float: left;
                margin: 1rem 2rem 2rem 0;
            }
        }
    }
    .sidebar {
        @include edItem(100,30,26);
    }
}