.article-feed {
    box-shadow: -1px -1px 5px rgba(#333333,0.5), 1px 1px 5px rgba(#333333,0.5);
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
    padding: 0;
    position: relative;
    width: 100%;

    &__background {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
    }
    &__content {
        min-height: 100px;
        position: relative;
        &__text-container {
            align-items: center;
            background: $white;
            bottom: 1rem;
            display: flex;
            flex-direction:column;
            left: 1rem;
            padding: 0.5rem 1rem;
            position: absolute;
            right: 1rem;
        }

        &__category {
            @include edItem(100);
            p {
                color: $black;
                font-size: 0.8rem;
                line-height:1;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &__title {
            h2 {
                color: $blue;
                font-family: $font-family-title;
                font-size: 1.7rem;
                line-height: 1;
                margin: 0 0 1rem 0;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &__excerpt {
            p {
                color: $black;
                line-height: 1.2;
                margin: 0 0 1rem 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    &:nth-of-type(3n+2), &:nth-of-type(3n+3) {
        width: 100%;
        .article-feed {

            &__content {
                &__title {
                    h2 {
                        margin: 0;
                    }
                }
            }
        }
        @include from(m) {
            width: 48%;
            .article-feed {
                &__background {
                    min-height: 200px;
                }
                &__content {
                    &__excerpt {
                        display: none;
                    }
                }
            }
        }
    }
}