@font-face {
    font-family: 'tna';
    src:  url('../fonts/tna.eot?k2z0vy');
    src:  url('../fonts/tna.eot?k2z0vy#iefix') format('embedded-opentype'),
    url('../fonts/tna.ttf?k2z0vy') format('truetype'),
    url('../fonts/tna.woff?k2z0vy') format('woff'),
    url('../fonts/tna.svg?k2z0vy#tna') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'tna' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e907";
}
.icon-instagram:before {
    content: "\e902";
}
.icon-large-arrow:before {
    content: "\e906";
}
.icon-arrow:before {
    content: "\e905";
}
.icon-behance:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-linkedin:before {
    content: "\e903";
}
.icon-tna:before {
    content: "\e904";
}