.footer {
    &__copyright {
        box-shadow: 0 2px #F1F1F1;
        padding: 1.5rem 0;
        p {
            color: $gray;
            font-family: $font-family-title;
            line-height: 1;
            margin: 0;
            text-align: center;
        }
    }

    &__info {
        @include edItem(100);
        padding: 1.5rem 0;
        & > .row {
            justify-content: space-between;
        }
        &__item {
            @include edItem(100,30,25);
            margin-bottom: 1.5rem;

            &__title {
                color: $black;
                font-family: $font-family-title;
                font-size: 1.2rem;
                line-height: 2;
                margin: 0;
            }
            .direction {
                color: $gray;
                margin: 0;
                padding: 0;
                p {
                    line-height: 2;
                    list-style: none;
                    margin: 0;
                }
            }

            &__logo {
                line-height: 1;
                span {
                    color: $gray;
                    font-size: 1rem;
                }
            }
            .links {
                margin: 0;
                padding: 0;
                li {
                    line-height: 2;
                    list-style: none;
                    margin: 0;
                    a {
                        color: $gray;
                        font-family: $font-family-title;
                        text-transform: uppercase;
                    }
                    &:last-child {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        @include from(m) {
            padding: 3rem 0;
            .footer__info {
                &__item {
                    margin: 0;
                }
            }
        }
    }
}