.header {
    padding: 2.5rem 0 1rem;
    @include from(m) {
        padding: 1rem 0;
    }
    &__logo, &__main-menu, &__social {
        align-items: center;
        display: flex;
    }
    &__logo {
        @include edItem(100,15,20);
        justify-content: center;
        margin-bottom: 1rem;
        span:before {
            color: $red;
            font-size: 1.4rem;
        }
        @include from(m) {
            justify-content: flex-start;
            margin: 0;

            span:before {
                font-size: 2rem;
            }
        }
    }

    &__main-menu {
        @include edItem(100,70,65);
        display: flex;
        justify-content: center;
        position: relative;
        ul {
            display: flex;
            justify-content: center;
            width: 100%;
            li {
                list-style: none;
                margin: 0 1rem;
                a {
                    color: $red;
                    font-family: $font-family-title;
                    font-weight: $font-bold;
                    padding: 0 3px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
        @include fromTo(0px,m) {
            ul {
                background: $red;
                flex-direction: column;
                flex-wrap: wrap;
                padding: 0.5rem 1rem;
                position: absolute;
                top: 45px;
                z-index: 10;
                opacity: 0;
                transition: 0.4s ease all;
                &.active {
                    opacity: 1;
                }
                li {
                    line-height:1;
                    margin: 0.7rem 0;
                    width: 100%;
                    a {
                        color: $white;
                    }
                    &.active {
                        box-shadow: 0 1px $white;
                    }
                }
            }
        }
        @include from(m) {
            ul {
                display: flex;
                li {
                    &.active, &.current_page_item {
                        a {
                            &:after {
                                background: $red;
                                bottom: -3px;
                                content: "";
                                height: 2px;
                                left: 0;
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }
            }
            order: inherit;
        }
        &__toggle {
            @include edItem(100);
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            @include from(m) {
                display: none;
            }
            a {
                color: $red;
                font-size: 1.2rem;
                line-height: 1;
                padding: 5px;
                text-decoration: none;
                transition: 0.4s ease all;
                &.active {
                    background: $red;
                    color: $white;
                }
            }
        }
        order: 3;
    }

    &__social {
        @include edItem(50,15,15);
        margin: 0 auto;
    }

    @include modifier('red') {
        background: $red;
        .header {
            &__logo {
                span:before {
                    color: $white;
                }
            }
            &__main-menu {
                ul {
                    li {
                        a {
                            color: $white;
                        }
                        &.active {
                            a {
                                &:after {
                                    background: $white;
                                }
                            }
                        }
                    }

                }
                &__toggle {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }
}