.pagination {
    @include edItem(100);
    margin-bottom: 2rem;
    text-align: center;
    ul {
        display: flex;
        font-size: 0;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        li {
            list-style: none;
            margin: 0 0.5rem 0 0;
            &:last-child {
                margin: 0;
            }
            &:last-child {
                a, span {
                    &:after {
                        display: none;
                    }
                }
            }
            a, span {
                color: $black;
                font-size: 1rem;
                line-height:1;
                position: relative;
            }
            a, span.current {
                &:after {
                    content: ","
                }
                &.prev {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}