.sidebar {
    &__categories {
        box-shadow: 0 2px #C2C2C2;
        margin-bottom: 1.5rem;
        padding: 1.5rem 0;
        &__title {
            font-family: $font-family-title;
            margin: 0 0 0.5rem 0;
            text-transform: uppercase;
        }
        ul {
            margin: 0;
            padding-left: 1rem;
            li {
                line-height: 1;
                list-style: none;
                margin: 0 0 0.5rem 0;
                a {
                    color: $black;
                    display: inline-block;
                    font-size: 1rem;
                    line-height: 1;
                    text-decoration: none;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    &__subscription {
        background: $red;
        margin-bottom: 1rem;
        padding: 1rem;
        &__title {
            margin-bottom: 1rem;
            p {
                color: $white;
                font-family: $font-family-title;
                line-height: 1;
                margin: 0;
                text-align: center;
                text-transform: uppercase;
            }
        }

        &__form {
            form {
                width: 100%;
                .form-control {
                    display: flex;
                    flex-wrap: nowrap;
                    input {
                        border: 0;
                        padding: 0.2rem;
                        width: 80%;
                    }
                    button {
                        background: $blue;
                        border: 0;
                        cursor: pointer;
                        width: 20%;
                        img {
                            height: 15px;
                        }
                    }
                }
            }
            .inner {
                &-msg {
                    p {
                        color: $white;
                        font-family: $font-family-body;
                        line-height: 1;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    &__social {
        @include edItem(100);
    }
}