.social {
    display: flex;
    font-size: 0;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
        display: inline-block;
        list-style: none;
        margin: 0;
        a {
            align-items:center;
            color: $red;
            display: flex;
            font-size: 0.9rem;
            height: 25px;
            justify-content: center;
            text-decoration: none;
            width: 25px;
            span {
                line-height:0;
            }
        }
        &:last-child {
            margin: 0;
        }
    }

    @include modifier('footer') {
        justify-content: flex-start;
        li {
            background: $black;
            border-radius: 4px;
            margin: 0 1rem 0 0;
            a {
                color: $white;
                font-size: 0.7rem;
                padding: 10px;
            }
        }
    }

    @include modifier('white') {
        li {
            a {
                color: $white;
            }
        }
    }

    @include modifier('blue') {
        justify-content: space-around;
        li {
            background: $blue;
            border-radius: 4px;
            margin: 0 1rem 0 0;
            a {
                color: $white;
                font-size: 1.1rem;
                height: 35px;
                padding: 5px;
                width: 35px;
            }
            &:nth-child(2) {
                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}