.subscription {
    padding: 2rem 0;

    &__title {
        @include edItem(100);
        color: $white;
        justify-content: center;
        margin: 0 0 1.5rem 0;
        text-align: center;

        h2 {
            font-family: $font-family-title;
            font-size: 2rem;
            margin: 0;
        }
        p {
            font-family: $font-family-title;
            font-size: 1.7rem;
            margin: 0;
        }
    }

    &__form {
        margin: 0 auto;
        @include edItem(100,80,50);

        .form-control {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            input {
                border: 0;
                padding: 0.5rem;
                width: 80%;
            }
            button {
                background: $blue;
                border: 0;
                color: $white;
                cursor: pointer;
                font-family: $font-family-title;
                font-size: 1.1rem;
                width: 20%;
            }
        }

        .inner {
            &-msg {
                p {
                    color: $white;
                    font-family: $font-family-title;
                    font-size: 2rem;
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }

    @include modifier('red') {
        background: $red;
    }

    @include modifier('blue') {
        background: $blue;
        .subscription {
            &__form {
                .form-control {
                    button {
                        background: $red;
                    }
                }
            }
        }
    }
}