.articles-feed {
    @include edContainer;
    padding: 1.5rem 0 0;

    & > .row {
        @include edItem(100,80,75);
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
}