.categories {
    background: $red;
    padding: 1.5rem 0;

    &__title {
        @include edItem(100);
        h1,h2 {
            color: $white;
            font-family: $font-family-title;
            font-size: 2rem;
            line-height: 1;
            margin: 0 0 0.5rem 0;
            text-align: center;
        }
    }

    &__items {
        @include edItem(100);

        nav {
            display: flex;
            justify-content: space-around;
            padding-top: 1rem;
            text-align: center;
            a {
                color: $white;
                font-family: $font-family-title;
                font-size: 1rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    @include from(m){
        .categories {
            &__title {
                h1, h2 {
                    font-size: 2.5rem;
                }
            }

            &__items {
                nav {
                    justify-content: center;
                    a {
                        font-size: 1.2rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}