.hero {
    height: 70vh;
    position: relative;
    &__slider {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0 !important;
        position: absolute;
        right: 0;
        top: 0;

        .slick-list, .slick-track {
            height: 100%;
        }
        .slick-slide {
            height: 100%;
            position: relative;
            .row {
                @include edItem(80,70);
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;
                margin: 0 auto;
                position: relative;
            }
            .hero__slide {
                &__background {
                    background-color: rgba($fullblack,0.5);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-blend-mode: multiply;
                    background-size: cover;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    /*&:before {
                        background: rgba($black, 0.6);
                        background-blend-mode: overlay;
                        bottom: 0;
                        content: "";
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }*/
                }

                &__content {
                    position: relative;
                    width: 100%;
                    @include from(l) {
                        margin: 0 auto;
                        width: 80%;
                    }

                    &__attribute {
                        p {
                            border-bottom: 3px solid $white;
                            color: $white;
                            display: inline-block;
                            font-family: $font-family-title;
                            font-size: 1.3rem;
                            font-weight: $font-bold;
                            line-height: 1;
                            margin: 0 0 0.5rem 0;
                            padding: 0 0 0.5rem 0;
                            text-transform: uppercase;
                        }
                    }

                    &__title {
                        h2 {
                            color: $white;
                            font-family: $font-family-title;
                            font-size: 2rem;
                            margin: 0;
                        }
                    }
                    &__description {
                        width: 100%;
                        p {
                            color: $white;
                            line-height: 1.8;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .arrow-container {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        .slick-arrow {
            background-image: url('../img/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            height: 50px;
            position: absolute;
            top: calc(50% - 25px);
            width: 22px;

            &.prev-arrow {
                left: 5px;
                transform: rotate(180deg);
            }
            &.next-arrow {
                right: 5px;
            }
        }
        .slick-points {
            bottom: 2rem;
            display: flex;
            justify-content: center;
            left: 0;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            width: 100%;
            li {
                list-style: none;
                margin: 0 1rem 0 0;
                &:last-child {
                    margin: 0;
                }
                button {
                    background: #E0E0E0;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    display: block;
                    font-size: 0;
                    height: 15px;
                    line-height: 0;
                    outline: none;
                    padding: 5px;
                    width: 15px;
                }
                &.slick-active {
                    button {
                        background: #939393;
                    }
                }
            }
        }
    }
    @include from(m) {
        height: 70vh;
        .hero {
            &__slider {
                .slick-slide {
                    .row {
                        justify-content: flex-start;
                    }
                    .hero__slide {
                        &__content {
                            &__description {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
        .arrow-container {
            .slick-arrow {
                &.prev-arrow {
                    left: 20px;
                }
                &.next-arrow {
                    right: 20px;
                }
            }
        }
    }

    @include from(l) {
        .arrow-container {
            .slick-arrow {
                &.prev-arrow {
                    left: 0;
                }
                &.next-arrow {
                    right: 0;
                }
            }
        }
    }
}